body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Hero-section start here */
.Hero-section {
    margin: 30px;
}
.Nav-section {
    background: rgb(4, 67, 182);
    height: 450px;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}
.Navbar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 560px;
    height: 30px;
}
.Href {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 50px;
}
.Logo-Name {
    color: white;
    letter-spacing: 1px;
    font-style: oblique;
}
.home {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 0;
    transition: color 0.3s ease;
    font-size: small;
    text-decoration: none;
    color: white;
}.home:hover {
    color: #ff4757;
} 
  /* Underline Slide Animation */
.home::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.4s ease;
}
.home:hover::after {
    width: 100%;
}
.Href-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
}
.Profile-nav {
    width: 120px;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    height: 40px;
    background-color: rgb(246, 122, 60);
    transition: 0.4s;  
}
.Home {
    color: white;
    font-size: small;
    text-decoration: none;  
}
.Profile-nav:hover {
    background: white;
}
.Home:hover {
    color: blue;
    cursor: pointer;
}
.Hero-Part {
    display: grid;
    grid-template-columns: auto auto;
    padding: 0 31px;
    justify-content: center;
    gap: 492px;
}
.Description-Part {
    display: grid;
    grid-template-rows: auto;
    width: 390px;
}
.Big-Heading {
    font-size: xx-large;
    color: white;
    font-weight: bolder;
}
.Small-Heading {
    color: white;
}
.Get {
    background: rgb(246, 122, 60);
    border-radius: 5px;
    width: 120px;
    text-align: center;
    align-content: center;
    height: 45px;
}
.get {
    color: white;
    text-decoration: none;
}
.Numeric-Part {
    text-align: center;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
.price {
    font-size: 210px;
    line-height: 1;
}
.price .cents {
    font-size: 50px;
}
.price-info {
    font-size: 12px;
    font-weight: 100;
}
.currency {
    font-size: 30px;
    vertical-align: top;
}
.monthly {
    font-size: 20px;
    top: -5px;
    position: relative;
    right: 40px;
}
.mobile-menu-icon {
    display: none;
}
/* Hero-section end here */
/* Plainig-section start here */
.Plan-head {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}
.Planing-section {
    display: grid;
    grid-template-rows: auto;
    gap: 40px;
    height: 550px;
    align-content: center;
}
.Description-Plan {
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}
.Description-plan {
    font-size: small;
    font-weight: 600;
    color: rgb(0,0,0,.8);
    padding: 0 380px;
}
.Purchase-card {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    justify-content: center;
    gap: 20px;
}
.window1 {
    text-align: center;
    background-color: rgb(249, 250, 252);
    width: 250px;
    height: 100px;
    align-content: center;
    border-radius: 10px;
}
.window2 {
    text-align: center;
    background-color: blue;
    width: 250px;
    height: 100px;
    align-content: center;
    border-radius: 10px;
}
.window2 .Head-wind  {
    color: white;
}
.window2 .Num {
    color: white;
}
.window2 .Month {
    color: white;
}

.Purchase:hover { 
    background-color: white;
    transition: 0.4s;
}
.purchase:hover {
    color: red;
}
.Purchase2:hover {
    background: blue;
}
.Purchase2 {
    width: 120px;
    transition: 0.4s;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    background: rgb(246, 122, 60);
}
.Head-wind {
    font-weight: 600;
    color: rgb(119, 120, 121);
}
.Num {
    font-size: xx-large;
    font-weight: bolder;
    color: blue;
}
.Num span {
    font-size: medium;
    vertical-align: super;
}
.Month {
    font-weight: 600;
    color: rgb(119, 120, 121);
} 
.Windows-vps-1 {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    width: 250px;
    height: 350px;
    justify-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.Properties {
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    gap: 10px;
}
.Dp span{
    font-weight: bolder;
}
.Purchase-card {
    text-align: -webkit-center;
    padding: 0 100px;
}
.Purchase {
    width: 120px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    align-content: center;
    font-weight: bolder;
    background: blue;
}
.purchase {
    text-decoration: none;
    color: white;
}
/*Plaining-section end here */
/* Link-Description start here */
.Link-description {
    align-content: center;
    text-align: center;
    height: 130px;
}
.call {
    color: blue;
    text-decoration: none;
}
.Head-Description {
    font-weight: 600;
}
.E-mail {
    font-size: small;
}
/*Link-Description end here */
/*Article-section start here */
.Article-section {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
    justify-content: center;
    background-color: rgb(249, 246, 241);
}
.Paragraph {
    background: rgb(249, 246, 241);
    align-content: center;
    padding: 0 65px;
    display: grid;
    grid-template-rows: auto;
    gap: 18px;
    height: 400px;
    margin: 30px;
}
.Head-Art {
    font-size: xx-large;
    color: rgb(0,0,0,.8);
    font-weight: bolder;
}
.description {
    color: rgb(0,0,0,.8);
}
.Properties-Intro {
    display: grid;
    grid-template-columns: auto auto;
}
.Point-list {
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    color: rgb(0,0,0,.8);
    font-size: small;
}
.Intro-Head .Head {
    font-weight: bolder;
}
.Article-img {
    margin: 30px;
}
.Article-img img {
    height: 400px;
    width: 500px;
}
/*Article-section start here */
/*Blue-part-container start here */
.Blue-Part-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: 30px;
    align-items: center;
    background: rgb(71, 46, 195);
    justify-content: center;
    gap: 190px;
}
.blue-1 {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}
.blue-1 .Head  {
    font-size: xx-large;
    font-weight: bolder;
    width: 510px;
    color: white;
}
.blue-1 .description {
    width: 561px;
    color: white;
    font-size: small;
}
.icons {
    color: rgb(27, 149, 238);
    text-decoration: none;
}
.icon {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    color: rgb(246, 122, 60);
    align-items: end;
    font-size: small;
}
.icon-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 20px;
}
.blue-img img {
    height: 300px;

}
/*Blue-part-container end here */
@media only screen and (max-width:770px) {
    /*Hero-section start here */
    .Navbar {
        gap: 160px;
    }
    .Hero-Part {
        gap: 0;
        justify-content: space-between;
    }
    .Logo-Name {
        font-size: small;
    }
    .home {
        font-size: x-small;
    }
    .Home {
        font-size: x-small;
    }
    .Profile-nav {
        width: 100px;
        height: 35px;
    }
    .Href {
        gap: 16px;
    }
    .price {
        font-size: 116px;
    }
    .Big-Heading {
        font-size: x-large;
    }
    .Navbar {
        height: 60px;
    }
    .Description-Part {
        width: 340px;
        margin-block-end: auto;
        gap: 10px;
    }
    .Nav-section {
        height: 300px;
        gap: 0;
    }
    /*Hero-section end here */
     /*Plaining-section start here */
     .Planing-section {
        height: 1000px;
    }
    .Description-plan {
        padding: 0 100px;
    }
    .Purchase-card {
        grid-template-columns: auto auto;
    }
     /*Plaining-section end here */
     /*Article-section start here */
     .Article-section {
        display: flex;
        flex-direction: column-reverse;
    }
    .Article-img img {
        width: 640px;
        height: 408px;
    }
    /*Article-section end here */
    /*Blue-part-container start here */

    .Blue-Part-container {
        justify-content: left;
        grid-template-columns: auto;
        height: 155px;
    }
    .blue-img {
        display: none;
    }
    .blue-1 .Head {
        width: auto;
        font-size: large;
    }
    .blue-1 {
        padding: 0 30px;
    }

    /*Blue-part-container end here */
}
@media only screen and (max-width:420px) {
    /*Hero-section start here */
    .Hero-section {
        margin: 17px;
    }
    .Href-nav {
        display: none;
    }
    .Profile-nav {
        display: none;
    }
    .Hero-section {
        padding-right: 30px;
    }
    .Navbar {
        gap: 116px;
    }
    .Nav-section {
        height: 500px;
        width: 296px;
    }
    .Big-Heading {
        font-size: medium;
    }
    .Small-Heading {
        font-size: small;
    }
    .Hero-Part {
        grid-template-columns: auto;
        padding: 0 15px;
    }
    .mobile-menu-icon {
        color: white;
        display: block;
    }
    .price {
        font-size: 90px;
    }
    .Description-Part {
        width: 246px;
    }
    .monthly {
        top: -2px;
        right: 21px;
    }
    /*Hero-section end here */
     /*Plaining-section start here */
     .Planing-section {
        height: 1800px;
        padding-right: 88px;
    }
    .Description-plan {
        padding: 0 38x;
    }
    .Purchase-card {
        grid-template-columns: auto;
        padding: 0px;
    }
    /*Plaining-section end here */
    /*Link-Description is start here */     
     .E-mail {
        padding: 0 25px;
    }
     /*Link-Description is end here */  
     /*Article-section start here */
    .Article-section {
        
        padding-right: 88px;
    }
    .Article-img img {
        height: 200px;
        width: 262px;
    } 
    .Paragraph {
        height: 550px;
        padding: 0px;
    }
    .Head-Art {
        font-size: x-large;
    }
     /*Article-section end here */
    /*Blue-part-container start here */
    .Blue-Part-container {
        height: 180px;
    }
    .blue-1 {
        padding: 0 30px;
    }
    .blue-1 .Head {
         width: 252px;
    }
    .blue-1 .description {
         width: 318px;
    }
    /*Blue-part-container end here */
}