body {
    margin: 0;
    padding: 0;
    font-family:Arial, sans-serif;
}
/* Hero-section start here */
.Nav-section {
    background: rgb(4, 67, 182);
    height: 350px;
    display: grid;
    grid-template-rows: auto;
}
.Navbar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: 470px;
    height: 30px;
}
.Href {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 50px;
}
.Logo-Name {
    color: white;
    letter-spacing: 1px;
    font-style: oblique;
}
.home {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 5px 0;
    transition: color 0.3s ease;
    font-size: small;
    text-decoration: none;
    color: white;
}.home:hover {
    color: #ff4757;
} 
  /* Underline Slide Animation */
.home::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: white;
    transition: width 0.4s ease;
}
.home:hover::after {
    width: 100%;
}
.Href-nav {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
}
.Profile-nav {
    width: 120px;
    align-content: center;
    text-align: center;
    border-radius: 50px;
    height: 40px;
    background-color: rgb(246, 122, 60);
    transition: 0.4s;  
}
.Home {
    color: white;
    font-size: small;
    text-decoration: none;  
}
.Profile-nav:hover {
    background: white;
}
.Home:hover {
    color: blue;
    cursor: pointer;
}
.About {
    text-align: center;
}
.About .Head {
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
.About .description {
    color: white;
    font-size: medium;
    padding: 0 306px;
}
.mobile-menu-icon {
    display: none;
}
/*Hero-part start here */
.click {
    width: 20px;
    background-color: blue;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-size: small;
    align-content: center;
}
.point {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    align-items: center;
    gap: 10px;
}
.url {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.Hero-Part {
    justify-content: center;
    gap: 300px;
    margin: 30px;
}
.HERO .Head {
    font-size: x-large;
    color: rgb(0,0,0,.8);
    font-weight: bolder;
}
.HERO {
    width: 510px;
    display: grid;
}
.Point-list {
    align-content: center;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}
.Hero-Part {
    display: grid;
    grid-template-columns: auto auto;
    height: 375px;
    align-content: center;
}
/* Hero-section end here */
/*Map-section start here*/
.World-Map {
    text-align: center;
    align-content: center;
}
.Map h1 {
    color: rgb(0,0,0,.8);
}
.Map p {
    color: rgb(0,0,0,.8);
    font-size: small;
}
.Map {
    padding: 0 350px;
}
.img-Map img {
    height: 610px;
}
/*Map-section end here*/
/*Blue-part-container start here */
.Blue-Part-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    background: rgb(71, 46, 195);
    justify-content: center;
    gap: 210px;
}
.blue-1 {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}
.blue-1 .Head  {
    font-size: xx-large;
    font-weight: bolder;
    width: 510px;
    color: white;
}
.blue-1 .description {
    width: 561px;
    color: white;
    font-size: small;
}
.icons {
    color: rgb(27, 149, 238);
    text-decoration: none;
}
.icon {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    color: rgb(246, 122, 60);
    align-items: end;
    font-size: small;
}
.icon-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 20px;
}
.blue-img img {
    height: 300px;
}
/*blue-container end here */
/*Content-section start here*/
.Content {
    display: grid;
    grid-template-columns: auto auto;
    height: 500px;
    align-content: center;
    justify-content: center;
    gap: 280px;
}
.Content-Article {
    width: 480px;
}
.Content-Article .Head {
    font-size: large;
}
.Blue {
    color: blue;
    font-weight: bold;
}
/*Content-section end here*/
.Content2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 380px;
}
.Content2-img img {
    height: 300px;
}
/*Commands-section start here*/
.Card-section {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    height: 480px;
    align-content: center;
    background: rgb(250, 250, 250);
}
.Commands-section {
    padding: 0 250px;
}
.Commands-section h1 {
    color: rgb(0,0,0,.8);
}
.Commands-section p {
    font-size: medium;
}
.Commands {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.Card2 {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    width: 300px;
    border-radius: 10px;
    margin: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.Card2:hover {
    transform: scale(1.05);
    background-color: blue;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Card2:hover p {
    color: #f4f4f9;
}
.Card3 {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    background: white;
    width: 300px;
    border-radius: 10px;
    margin: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.Card3:hover {
    transform: scale(1.05);
    background-color: blue;
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.Card3:hover p {
    color: #f4f4f9;
}
.Card2 .Head {
    font-weight: bolder;
    color: rgb(0,0,0,.8);
}
.Card2 .description {
    font-size: small;
}
.Card3 .Head {
    font-weight: bolder;
    color: rgb(0,0,0,.8);
}
.Card3 .description {
    font-size: small;
}
.Card1 .description {
    color: rgb(0,0,0,.8);
    font-size: small;
}
.Card1 {
    width: 330px;
    padding: 20px 25px;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}
.Card2 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    text-align: left;
}
.Card3 {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 25px;
    text-align: left;
}
.emoji {
    font-weight: bolder;
    color: blue;
    font-size: small;
    opacity: 0.8;
}
.profile-part {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    position: relative;
    right: 18px;
}
.small-part {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 10px;
    align-items: center;
}
.name {
    font-weight: bold;
    color: rgb(0,0,0,.8);
}
.nick {
    font-size: small;
    color: rgb(0,0,0,.8);
}
.profile-part .icon {
    width: 20px;
    font-size: small;
    justify-content: center;
    height: 20px;
    background: blue;
    color: white;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    position: relative;
    top: -1px;
    right: -11px
}
.pass-img img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
/*Footer-section start here */
.Footer-section {
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(71, 46, 195);
    justify-content: center;
}
.Href-part {
    display: grid;
    grid-template-columns: auto;
    margin: 30px;
    gap: 10px;
}
.Logo-Part{
    width: 500px;
    margin: 30px;
    display: grid;
    grid-template-rows: auto;
    gap: 10px;

}
.Href-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.Logo-Part .Logo-Name {
    color: white;
}
.Resource {
    color: white;
    font-size: larger;
    font-weight: bold;
}
.Hel {
    text-decoration: none;
    font-size: small;
    color: white;
    opacity: 0.8;
}
.HOME {
    color: red;
    text-decoration: none;
}
.Logo-Part .description {
    color: rgb(202, 215, 237);
}
/*Commands-section end here*/
@media only screen and (max-width:1030px) {
    /* hero-section start here */
    .Navbar {
        justify-content: space-between;
        gap: 0px;
        padding: 0 20px;
    }
    .About .description {
        padding: 0 220px;
    }
    .Hero-Part {
        gap: 0;
    }
    /* hero-section start here */
    /*Map-section start here*/
    .Map {
        padding: 0 250px;
    }
    .img-Map img {
        height: 480px;
    }
    /*Map-section end here*/
    /*Blue-part-container start here */
    .Blue-Part-container {
        grid-template-columns: auto;
        gap: 0px;
        justify-content: left;
        padding: 0 14px;
    }
    .blue-img img {
        display: none;
    }
    .blue-1 {
        gap: 10px;
        margin: 20px;
    }
    .blue-1 .Head {
        width: auto;
    }
    /*Blue-part-container end here */
    /*Content-section start here*/
    .Content {
        gap: 90px;
    }
    /*Content-section end here*/
    /*Content-section2 start here*/
    .Content2 {
        gap: 130px;
    }
     /*Content-section2 end here*/
    .Card1 {
        width: 216px;
    }
    .Card3 {
        width: 216px;
    }
    .Card2 {
        width: 216px;
    }
    .Resource {
        display: none;
    }
    .Logo-Part {
        margin: 10px;
    }
    .Href-part {
        margin: 25px;
    }
}
@media only screen and (max-width:770px) {
    /* hero-section start here */
    .Logo-Name {
        font-size: small;
    }
    .Href {
        gap: 10px;
    }
    .About .description {
        padding: 0 130px;
    }
    .Hero-Part {
        grid-template-columns: auto;
        height: 650px;
    }
    .HERO {
        width: 735px;
        grid-template-rows: auto;
        gap: 16px;
    }
    .url {
        justify-content: left;
        gap: 170px;
    }
    /* hero-section end here */
    /*Map-section start here*/
    .Map {
        padding: 0 150px;
    }
    .img-Map img {
        height: 370px;
    }
    /*Map-section end here*/
    /*Content-section start here*/
    .Content {
        gap: 0px;
    }
    .Content-Article {
        width: 325px;
    }
     /*Content-section2 start here*/
     .Content2 {
        gap: 36px;
     }
    /*Content-section2 end here*/
    .Card2 {
        display: none;
    }
    .Commands-section {
        padding: 0 100px;
    }

    /*Footer-section start here */
    .Footer-section {
        grid-template-columns: auto;
        justify-content: normal;
    }
    /*Footer-section end here */

}
@media only screen and (max-width:430px) {
    .Href-nav {
        display: none;
    }
    .Profile-nav {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
        color: white;
    }
    .About .description {
        padding: 0 25px;
    }
    .Hero-Part {
        height: 700px;
    }
    .HERO {
        width: auto;
    }
    .img img {
        height: 200px;
    }
    .point p {
        font-size: x-small;
        width: 115px;
    } 
    .url {
        gap: 88px;
    }
    /*Map-section start here*/
    .Map {
        padding: 0 60px;
    }
    .img-Map img {
        height: 210px;
    }
    /*Map-section end here*/
    /*Blue-part-container start here */
    .Blue-Part-container {
        padding: 0px;
    }
    .blue-1 .Head {
        font-size: larger;
    }
    .blue-1 .description {
        width: auto;
    }
    /*Blue-part-container end here */
    /*Content-section start here*/
    .Content-img {
        display: none;
    }
    .Content {
        height: auto;
    }
    .Content-Article {
        width: 375px;
    }
    .Content-Article .Head {
        font-size: medium;
    }
    /*Content-section end here*/
     /*Content-section2 start here*/
     .Content2 {
        grid-template-columns: auto;
     }
     .Content2-img img {
        display: none;
     }
      /*Content-section2 end here*/
      .Card2 {
        height: 200px;
        align-content: center;
        display: block;
        margin: 0px;
    }
    .Commands-section {
        padding: 0 10px;
    }
    .Commands-section h1 {
        font-size: x-large;
    }
    .Card3 {
        display: none;
    }
    .Card2 {
        display: grid;
        grid-template-rows: auto;
        gap: 20px;
    }
    .Card-section {
        height: auto;
        height: 458px;
    }
    .Commands {
        grid-template-columns: auto;
    }
    /*Footer-section start here */
    .Footer-section {
        margin: 0px;
        padding: 0 16px;
    }
    .Logo-Part {
        width: auto;
        margin: 10px;
    }
    .Href-footer {
        grid-template-columns: auto auto auto;
    }
    .Href-part {
        margin: 10px;
    }
     /*Footer-section end here */
}
@media only screen and (max-width:380px) {
    .url {
        gap: 50px;
    }
    /*Content-section start here*/
    .Content-Article {
        width: 350px;
    }
    /*Content-section end here*/
    /*Command-section start here */
    /*Command-section end here */
}
@media only screen and (max-width:390px) {
    .Map {
        padding: 0 35px;
    }
    .img-Map img {
        height: 170px;
    }
}
@media only screen and (max-width:330px) {
    .url {
        gap: 25px;
    }
    .img-Map img {
        height: 150px;
    }
    .Map {
        padding: 0 20px;
    }
    .Map h1 {
        font-size: large;
    }
    .Content-Article {
        width: 285px;
    }
    .Card2 {
        height: 158px;
        width: 240px;
    }
}