body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0%;
    padding: 0%;
    background-color: rgba(0, 0, 0, 0.1);
}
.First-Web-Line {
    display: grid;
    grid-template-rows: auto;
    padding: 0 103px;
    background: white;
    gap: 30px;
    height: 200px;
    align-content: baseline;
}
.Web-first {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.World {
    display: grid;
    gap: 30px;
    font-size: small;
    grid-template-columns: auto auto;
}
.logo-section {
    display: grid;
    grid-template-rows: 60px;
}
.Read {
    color: red;
}
.icon-list {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    font-size: small;
}
.Account {
    font-size: small;
}
.Second-line {
    display: grid;
    grid-template-columns: auto auto auto; 
    gap: 30px;
    font-size: large;
    align-items: baseline;
}
.Accounts {
    color: rgb(0,0,0,.8);
    text-decoration: none;
} 
.Webmega {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
}
.Heading {
    font-size: large;
}
.icon {
    font-size: xx-large;
    color: red;
}
.Mega {
    font-size: x-large;
}
.ALL-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 20px;
}
.tags {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    font-style: italic;
}
.navbar {
    display: grid;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto auto auto;
}
.Menu {
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto auto auto auto;
}
.ico-lists {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    gap: 20px;
}
.Home  {
  color: rgb(0,0,0,.8);
  text-decoration: none;
  font-size: small;
  font-weight: 600;
  padding: 5px;
  transition: color 0.3s ease;
}
.Home:hover {
    color: #00bcd4;
  }
.Home::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #00bcd4;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease;
}
.Home:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}
.Hero-section {
    display: grid;
    grid-template-columns: 540px 540px;
    padding: 0 100px;
}
.icon-2 {
    width: 30px;
    height: 30px;
    background: red;
    border-radius: 50%;
    text-align: center;
    align-content: center;
    margin: 8px;
    color: white;
}
.Img-hero {
    background-image:url(./img/car.avif);
    background-size: cover;
    width: 578px;
    text-align: -webkit-right;
}
.Hero-content {
    padding: 0 30px;
    margin: 30px;
}
.Hero {
    margin: 10px;
    height: 400px;
    align-content: center;
}
.Hero-Description {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    height: 380px;
    width: 560px;
}
.content {
    display: grid;
    grid-template-rows: auto;
    gap: 30px;
    margin: 30px;
}
.World-1 {
    width: 60px;
    height: 20px;
    background: red;
    align-content: center;
    text-align: center;
    color: white;
}
.Head-Hero {
    font-size: xx-large;
    font-weight: bolder;
}
.Dates-Hero {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    gap: 15px;
    font-size: small;
}
.icon-1 {
    font-weight: 100;
    color: rgb(0,0,0,.8);
} 
.description {
    font-weight: 200;
}
.Profile {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 10px;
} 
.peo-img img {
    height: 30px;
    border-radius: 50%;
    width: 32px;
}
.Robert {
    font-size: medium;
    font-weight: bolder;
}
.Kent {
    font-size: small;
    color: rgb(0,0,0,.8);
}
.card {
    background: #00bcd4;
    width: 255px;
    height: 300px;
    align-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.Editor {
    margin: 20px;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
    background-color: #00bcd4;
    width: 230px;
}
.Head-Edit {
    font-size: x-large;
    font-weight: 700;
}
.Read-more {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 80px;
}
.small-footer3 {
    color: black;
    display: grid;
    grid-template-columns: auto auto;
    font-size: x-small;
    justify-content: left;
    gap: 30px;
}
.description-1 {
    width: 140px;
}
.more:hover {
    background: white;
    color: red;
    cursor: pointer;
}
.more {
    padding: 2px 5px;
    align-content: center;
    border: 1px solid rgb(0,0,0,.8);
    transition: 0.4s;
    text-decoration: none;
}
.Card-section {
    height: 350px;
    align-content: center;
}
.Card-list {

    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    background: rgb(229, 229, 229);
}
.Card-content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    background: white;
    padding: 0 20px;
    height: 300px;
    gap: 25px;
    align-content: center;
}
.card-img1  {
    background-image:url(./img/beauty.webp);
    background-size: cover;
    width: 190px;
    height: 170px;
    text-align: -webkit-right;

}
.card-img2  {
    background-image:url(./img/magic.jpg);
    background-size: cover;
    width: 190px;
    height: 170px;
    text-align: -webkit-right;
}
.card1 {
    width: 190px;
    display: grid;
    grid-template-rows: auto;
    gap: 3px;
}
.card2 {
    width: 190px;
    display: grid;
    grid-template-rows: auto;
    gap: 3px;
}
.card3 {
    width: 190px;
    display: grid;
    grid-template-rows: auto;
    gap: 3px;
}
.cam {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    color: white;
    background-color: #00bcd4;
    position: relative;
    top: 5px;
    right: 4px;
}
.card-img img {
    height: 170px;
    width: 190px;
}
.Head-Edit1 {
    width: 190px;
    font-weight: bolder;
    font-size: medium;
}
.Content2 {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    font-size: small;
}
.Likes {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 10px;
    font-size: x-small;
    color: rgba(0, 0, 0, 0.8);
}
.Header {
    display: grid;
    grid-template-columns: auto auto;
    align-items: baseline;
    justify-content: left;
    gap: 190px;
}
.write-content {
    display: grid;
    width: 370px;
    grid-template-rows: auto;
    gap: 10px;
    position: relative;
    top: 105px;
}
.Weekly-popular {
    height: 525px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 0px 120px;
    background: white;
}
.All {
    text-decoration: none;
    color: rgb(0,0,0,.8);
    transition: 0.5s;
}
.All:hover {
    border-radius: 10px;
    background: black;
    cursor: pointer;
    color: white;
    padding: 2px 5px;
}
.Weekly-Popular {
    margin-top: 43px;
    color:teal;
    font-size: 23px;
    top: -7px;
    font-weight: bold;
    position: relative;
}
.Weekly-Popular span {
    position: absolute;
    left: 50px;
    color: thistle;
    font-size: 80px;
    z-index: -1;
    top: -37px;
}
.publish-img {
    background-image:url(./img/panda.avif);
    height: 310px;
    background-size: cover;
    width: 350px;
    text-align: -webkit-right;
    position: absolute;
}
.icon3 {
    width: 30px;
    height: 30px;
    background: red;
    color: white;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    position: relative;
    top: 10px;
    right: 20px;
}
.icon4 {
    width: 100px;
    background-color: red;
    top: 280px;
    right: -15px;
    text-align: center;
    color: white;
    border-radius: 10px;
    position: relative;
}
.Head-Week {
    position: relative;
    top: 170px;
    width: 330px; 
}
.Dates {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    gap: 15px;
    font-size: small;
    position: relative;
    top: 160px;
}
.description3 {
    position: relative;
    top: 160px;
    color: rgba(0, 0, 0, 0.8);
} 
.small-card {
    display: grid;
    grid-template-rows: auto;
    position: relative;
    top: -10px;
    right: -37px;
    justify-content: center;
}
.BUTTON {
    justify-content: center;
    gap: 40px;
    text-decoration: none;
    display: grid;
    position: relative;
    top: 51px;
    right: 105px;
    grid-template-columns: auto auto auto auto auto;
}
.img-card img {
    height: 150px;
}
.Cards-section {
    display: grid;
    grid-template-columns: auto auto;
    top: 22px;
    right: 40px;
    position: relative;
}
.img-card {
    height: 200px;
    width: 235px;
}
.img-card1 img {
    height: 150px;
    width: 230px;
}
.small-head {
    font-weight: bolder;
    width: 150px;
}
.Follow-part {
    display: grid;
    grid-template-rows: auto;
    position: relative;
    top: -156px;
    right: -2px;
    align-content: center;
}
.Social-Media {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    position: relative;
    top: -12px;
    right: 65px;
}
.Facebook {
    width: 150px;
    height: 30px;
    align-content: center;
    text-align: center;
    color: white;
    background: rgb(24, 119, 242);
}
.Twitter {
    width: 150px;
    height: 30px;
    align-content: center;
    text-align: center;
    color: white;
    background: black;
}
.Insta {
    width: 150px;
    height: 30px;
    align-content: center;
    text-align: center;
    color: white;
    background: rgb(252 175 69);
}
.pinset {
    width: 150px;
    height: 30px;
    align-content: center;
    text-align: center;
    color: white;
    background: red;
}
.Head-follow {
    font-size: large;
    font-weight: 800;
    position: relative;
    top: -24px;
    right: 0px;
}
.Comments-section {
    padding: 0 100px;
    background-color: white;
    display: grid;
    grid-template-rows: auto;
    height: 420px;
    gap: 20px;
}
.Comment-Header {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.Most {
    margin-top: 43px;
    color: red;
    font-size: x-large;
    top: -7px;
    font-weight: bold;
    position: relative;
}
.Most span {
    position: absolute;
    left: 50px;
    color: thistle;
    font-size: 80px;
    z-index: -1;
    top: -37px;
}
.Comment-card {
    display: grid;
    justify-content: center;
    gap: 25px;
    grid-template-columns: auto auto auto auto;
}
.Comment-cards {
    background-image:url(./img/color.webp);
    background-size: cover;
    height: 283px;
    width: 260px;
    background-repeat: no-repeat;
}
.Comment-cards2 {
    background-image:url(./img/african.webp);
    height: 283px;
    width: 260px;
    background-repeat: no-repeat;
}
.Comment-cards3 {
    background-image:url(./img/flowers.webp);
    height: 283px;
    width: 260px;
    background-size: cover;
    background-repeat: no-repeat;
}
.Comment-cards4 {
    background-image:url(./img/gaming.avif);
    background-size: cover;
    height: 283px;
    width: 260px;
    background-repeat: no-repeat;
}
.Heading-href {
    position: relative;
    top: 200px;
    right: -12px;
}
.Heading-href2 {
    position: relative;
    top: 173px;
    right: -12px;
}
.icon-comment {
    position: relative;
    width: 30px;
    height: 30px;
    background: rgb(254, 138, 255);
    align-content: center;
    text-align: center;
    color: white;
    right: -222px;
    top: 13px;
    border-radius: 50%;
}
.Dates-comment {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 10px;
}
.Travel {
    width: 100px;
    background-color:blue;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}
.Beauty {
    width: 100px;
    background-color: purple;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}.Gaming {
    width: 100px;
    height: 20px;
    background-color: rgb(0,0,0,.8);
    text-align: center;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}
.ART {
    width: 100px;
    background-color: red;
    text-align: center;
    border-radius: 30px;
    color: white;
    font-weight: bolder;
}
.All-video {
    color: purple;
    font-weight: bolder;
}
.description-comment {
    font-weight: bolder;
    color: white;
    width: 206px;
    font-size: small;
}
.Dates-comment {
    color: rgb(255, 255, 255,.6);
    font-size: x-small;
}
.Video-section {
    background-image: url(./img/blue.jpg);
    height: 650px;
    align-content: center;
    padding: 0 86px;
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
} 
.Header-video {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}
.Motion {
    margin-top: 43px;
    color: purple;
    font-size: x-large;
    top: -7px;
    font-weight: bold;
    position: relative;
}
.Motion span {
   position: absolute;
   left: -30px;
   color: thistle;
   font-size: 62px;
   z-index: -1;
   top: -37px;
   width: 310px;
}
.videos-section {
    display: grid;
    grid-template-columns: 560px 525px;
    justify-items: center;
}
.img {
    width: 200px;
}
.Technology {
    font-size: large;
    font-weight: bolder;
    color: white;
    position: relative;
    top: -20px;
}
.Mons {
    background-image:url(./img/monster.webp);
    height: 500px;
    background-size: cover;
    width: 450px;
}
.Heading-href3 {
    position: relative;
    top: 328px;
    right: -11px;
}
.description-mons {
    font-size: x-large;
    color: white;
    font-weight: bold;
}
.mons-play {
    position: relative;
    top: 180px;
    left: 225px;
    font-size: xx-large;
    color: white;
}
.icon-mons {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    color: white;
    align-content: center;
    text-align: center;
    position: relative;
    top: 13px;
    left: 408px;
}
.small-videos {
    display: grid;
    grid-template-columns: auto auto auto;
}
.icon-4 {
    position: relative;
    top: -102px;
    left: 74px;
    color: white;
}
.Recent {
    padding: 0 125px;
    height: 730px;
}
.Head-Recent {
    margin-top: 43px;
    color: red;
    font-size: x-large;
    top: -7px;
    font-weight: bold;
    position: relative;
}
.Head-Recent span {
    position: absolute;
    left: -30px;
    color: thistle;
    font-size: 62px;
    z-index: -1;
    top: -37px;
    width: 310px;
}
.Recent-post {
    display: grid;
    grid-template-columns: auto auto;
}
.RECENT-POSTS {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}
.Content-Recent {
    display: grid;
    grid-template-columns: auto auto;
}
.Fashion {
    width: 110px;
    border-radius: 30px;
    background: red;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.Fashion2 {
    width: 110px;
    border-radius: 30px;
    background: green;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.Fashion3 {
    width: 120px;
    border-radius: 30px;
    background: blue;
    text-align: center;
    font-weight: bolder;
    color: white;
}
.description-recent {
    font-size: large;
    font-weight: bolder;
    width: 310px;
}
.description-Recent {
    width: 310px;
    font-size: small;
}
.Dates1 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    gap: 20px;
    font-size: small;
}
.MORE {
    text-decoration: none;
    color: black;
    font-weight: bolder;
} 
.write-content-Recent {
    display: grid;
    grid-template-rows: auto;
    align-content: center;
    gap: 15px;
}
.WORLD {
    display: grid;
    grid-template-columns: auto auto;
    width: 345px;
    padding: 0 20px;
}
.small-world {
    display: grid;
    grid-template-rows: auto auto;
    align-content: center;
    color: white;
    width: 150px;
}
.Recent-Header {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    gap: 20px;
    margin: 20px;
    font-weight: bolder;
}
.WORLD-head {
    font-size: small;
    height: 20px;
    width: 80px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bolder;
    background: red;
}
.WORLD-heading {
    color: black;
    font-weight: bolder;
}
.small-footer {
    display: grid;
    grid-template-columns: auto auto;
    font-size: x-small;
    color: black;
    justify-content: left;
    gap: 30px;
}
.WORLD-head2 {
    font-size: small;
    height: 20px;
    width: 80px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bolder;
    background: purple;
}
.WORLD-head3 {
    font-size: small;
    height: 20px;
    width: 80px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bolder;
    background: blue;
}
.WORLD-head4 {
    font-size: small;
    height: 20px;
    width: 80px;
    border-radius: 30px;
    text-align: center;
    align-content: center;
    color: white;
    font-weight: bolder;
    background: green;
}
.WORLD-head3 {
    font-size: small;
    height: 20px;
} 
.WORLD img {
    border-radius: 7px;
}      
.left-recent {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    background: white;
    border-radius: 6px;
    justify-content: space-around;
}     
.Social-Media1 {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    position: relative;
    top: -12px;
    right: 2px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
.img-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: left;
    gap: 10px;
}
.Header-Footor {
    display: grid;
    grid-template-columns: auto auto auto auto ;
    background-color: rgb(12, 18, 37);
    height: 370px;
    align-content: center;
    padding: 0 100px;
}
.Hot-section {
    display: grid;
    grid-template-columns: auto auto;
}
.hot {
    text-decoration: none;
    color: white;
}
.HOT-Topics {
    display: grid;
    grid-template-columns: auto;
}
.HOT-Topics2 {
    display: grid;
    grid-template-columns: auto;
}

.input-container {
    position: relative;
    width: 300px;
}
.World1 {
    color: white;
    font-size: x-large;
}
.small-footer1 {
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    font-size: x-small;
    justify-content: left;
    gap: 20px;
    color: black;
}
.small-footer2 {
    color: white;
    display: grid;
    grid-template-columns: auto auto;
    font-size: x-small;
    justify-content: left;
    gap: 20px;
    color: rgb(255,255,255,.7);
}
.Must-section {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
}
.World-section {
    display: grid;
    grid-template-rows: auto;
    gap: 20px;
} 
.World-sectiond img {
    border-radius: 5px;
}
.img-section img {
    border-radius: 5px;
}
.HOT-Topics {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}
.HOT-Topics2 {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
    position: relative;
    top: 40px;
}
.description4 {
    color: white;
}
.hot {
    color: rgb(255,255,255,.8);
    font-size: medium;
}
.input-container input {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.input-container input::placeholder {
    color: transparent; /* Hide the default placeholder */
}

.placeholder-text {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #aaa;
    transition: all 0.3s ease;
    animation: fadeInOut 3s infinite ease-in-out;
}

.input-container input:focus + .placeholder-text,
.input-container input:not(:placeholder-shown) + .placeholder-text {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-150%);
}
.WORLD-heading1 {
    width: 150px;
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}
.instagram1 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: left;
    gap: 5px;

}
.News {
    display: grid;
    grid-template-rows: auto;
    gap: 10px;
}
.instagram1 img {
    border-radius: 5px;
    height: 70px;
    width: 75px;
}
@media only screen and (max-width:770px) {
    .First-Web-Line {
        padding: 0 50px;
        grid-template-rows: 0px;
        height: 95px;
    }
    .Hero-Description{
        width: 670px;
    }
    .tags {
        display: none;
    }
    .logo-section {
        grid-template-rows: 0px;
    }
    .Menu {
        display: none;
    }
    .navbar {
        display: grid;
        grid-template-columns: auto auto;
    }
    .Hero {
        margin: 10px;
        height: 800px;
    }
    .Hero-section {
        display: grid;
        grid-template-columns: auto;
        padding: 0 38px;
    }
    .All {
        width: 50px;
    }
    .Img-hero {
        height: 400px;
        width: 670px;
        border-radius: 10px;
    }
    .card {
        display: none;
    }
    .card3 {
        display: none;
    }
    .Card-list {
        margin: 10px;
        padding: 0 45px;
        height: 300px;
    }
    .Weekly-popular {
        padding: 0px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 45px;
        padding: 0 40px;
        height: 780px;
        align-content: center;
    }
    .BUTTON {
        top: -8px;
        right: 45px;
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        justify-content: center;
        position: relative;
        top: 35px;
    }
    .description3 {
        display: none;
    }
    .Header {
        display: grid;
        position: relative;
        top: -12px;
        grid: none;
    }
    .publish-img {
        width: 280px;
        position: relative;
        top: 23px;
    }
    .write-content {
        width: 260px;
        top: -176px;
    }
    .icon4 {
        top: -10px;
    }
    .Follow-part {
        top: 100px;
        right: 35px;
    }
    .Facebook {
        width: 270px;
    }
    .Insta {
        width: 270px;
    }
    .pinset {
        width: 270px;
    }
    .Twitter {
        width: 270px;
    }
    .Content-Recent {
        align-content: center;
    }
    .Social-Media {
        display: grid;
        grid-template-columns: auto;
        top: -21px;
        right: -36px;
    }
    .small-card {
        margin: 0px;
        right: -15px;
    }
    .img-card {
        width: 195px;
    }
    .img-card1 {
        width: 195px;
    }
    .img-card img {
        height: 108px;
    }
    .img-card1 img {
        width: 165px;
        height: 108px;
    }
    .Comments-section {
        padding: 0px 45px;
        height: 470px;
    }
    .Comment-cards3 {
        display: none;
    }
    .icon-comment {
        right: -155px;
    }
    .Comment-cards {
        width: 200px;
    }
    .Comment-cards2 {
        width: 200px;
    }
    .Comment-cards4 {
        width: 200px;
    }
    .Mons {
        height: 378px;
        width: 290px;
        border-radius: 10px;
        position: relative;
        right: -25px;
    }
    .Heading-href3 {
        top: 221px;
    }
    .description-mons {
        font-size: large;
        width: 289px;
    }
    .img img {
        height: 130px;
        border-radius: 10px;
    }
    .Technology {
        font-size: x-small;
        width: 112px;
    }
    .icon-mons {
        left: 248px;
    }
    .mons-play {
        top: 144px;
        left: 130px;
    }
    .icon-4 {
        top: -72px;
        left: 56px;
    }
    .Video-section {
        padding: 0px 45px;
        height: 520px;
    }
    .videos-section {
        gap: 0px;
        grid-template-columns: 260px auto;
    }
    .small-videos {
        grid-template-columns: auto auto;
    }
    .img1 {
        display: none;
    }
    .img {
        width: 150px;
    }
    .Header-video {
        padding: 0px;
    }
    .Recent-post {
        grid-template-columns: auto;
        height: 1670px;
    }
    .left-recent {
        height: 580px;
    }
    .small-footer2 {
        color: black;
    }
    .WORLD-heading {
        width: 276px;
    }
    .RECENT_POSTS {
        gap: 40px;
    }
    .Head-follow {
        right: -44px;
        top: -142px;
    }
    .RECENT-POSTS {
        gap: 40px;
    }
    .Recent {
        display: grid;
        grid-template-rows: auto;
        gap: 20px;
        padding: 0 62px;
        height: 1800px;
    }
    .Content-Recent img {
        height: 210px;
        border-radius: 10px;
    }
    .Header-Footor {
        grid-template-columns: auto auto;
        height: 610px;
    }
}
@media only screen and (max-width:420px) {
    .First-Web-Line {
        display: grid;
        padding: 0 20px;
        height: 65px;
    }
    .Web-first {
        display: none;
    }
    .section {
        display: none;
    }
    .Hero-Description {
        width: 390px;
        border-radius: 10px;
    }
    .Img-hero {
        width: 390px;
    }
    .card1 {
        width: 120px;
        border-radius: 10px;
    }
    .All {
        font-size: x-small;
        width: 27px;
    }
    .Hero-section {
        padding: 0px;
        display: flex;
        flex-direction: column-reverse;
    }
    .Header {
        justify-content: center;
    }
    .Card-list {
        display: grid;
        grid: none;
        margin: 0px;
        padding: 0px 100px;
    }
    .card2 {
        display: none;
    }
    .Weekly-popular {
        grid-template-columns: auto;
        height: 2300px;
        padding: 0px 16px;
        align-content: baseline;
        display: grid;
        grid-template-rows: auto;
    }
    .img-card {
        height: 380px;
        width: 330px;
    }
    .publish-img {
        width: 380px;
    }
    .Head-Week {
        width: 380px;
    }
    .BUTTON {
        top: -490px;
        right: 21px;
    }
    .Cards-section {
        grid-template-columns: auto;
    }
    .small-card {
        height: 800px;
        align-content: baseline;
    }
    
    .img-card img {
        height: 310px;
        width: 380px;
    }
    .img-card1 img {
        height: 300px;
        width: 380px;
    }
    .Follow-part {
        top: 730px;
    }
    .Comments-section {
        padding: 0px;
    }
    .Comment-card {
        grid-template-columns: auto;
    }
    .Comment-Header {
        justify-content: center;
        gap: 25px;
        align-items: end;
    }
    .Comment-cards {
        width: 300px;
    }
    .Comment-cards2 {
        display: none;
    }
    .Comment-cards3 {
        display: none;
    }
    .Comment-cards4 {
        display: none;
    }
    .Video-section {
        height: 2000px;
        padding: 0 32px;
    }
    .Heading-href3 {
        top: 130px;
    }
    .description-mons {
        width: 196px;
        font-size: x-large;
    }
    .icon-mons {
        left: 300px;
    }
    .icon-4 {
        top: -163px;
        left: 154px;
    }
    .Technology {
        font-size: large;
        width: 280px;
    }
    .Mons {
        position: static;
        height: 315px;
        width: 347px;
    }
    .mons-play {
        display: none;
    }
    .videos-section {
        grid-template-columns: auto;
        justify-items: left;
        display: grid;
        grid-template-rows: auto;
        gap: 20px;
    }
    .small-videos {
        grid-template-columns: auto;
    }
    .img img {
        width: 347px;
        height: 315px;
    } 
    
    .Recent {
        padding: 0px;
        align-content: center;
    }
    .Content-Recent {
        grid-template-columns: auto;
    }
    .write-content-Recent {
        width: 300px;
    }
    .Head-follow {
        display: none;
    }
    .left-recent {
        margin: 0px;
    }
    .WORLD-heading {
        color: black;
    }
    .Recent-post {
        justify-content: center;
    }
    .Content-Recent img {
        height: 240px;
        width: 380px;
    }
    .Content-Recent {
        gap: 20px;
    }
    .Head-Recent {
        justify-self: center;
    }
    .Social-Media-Recent {
        display: none;
    }
    .Header-Footor {
        display: none;
    }

}